<h2>Can not delete customer record as it is referenced in a workorder</h2>
<input type="button" value="Back" onclick="@("window.location.href='" + @Url.Action("Index", "customers") + "'");" />
<input type="button" value="View Work Orders" onclick="@("window.location.href='" + @Url.Action("Index", "workorders") + "'");" />
